@charset "ISO-8859-1";
body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper{
    background: url('home/graduation1.jpg')
    center center;
    min-height: 20rem;
}

nav{
    width: 100%;
    height: 80px;
    background-color: #800080;
    line-height: 80px;
}

nav ul{
    float: right;
    margin: 0;
    margin-right: 1.9rem;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 20px;
}

img{
    width: 14%;
    margin-left: 1.9rem;
    margin-top: -4%;
}

nav ul li:hover{
    background-color: #e100e1;
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
}

.section{
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 4%;
}

.section h1{
    color: #400040;
    line-height: 50px;
}

.section p{
    color: #ff80ff;
}

.btn-1{
    background-color: #800080;
    padding: 0.7rem 1rem;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.features{
    margin-top: 4%;
    margin-bottom: 2%;
}

.features button{
    padding: 0.7rem 2rem;
    margin-right: 2rem;
    font-size: 1.2rem;
    opacity: 0.7;
}

showcase h1{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

#courses{
    display: flex;
    justify-content: space-around;
    text-align: center;
    transition:transform 2s;
}
.cs:hover{
	transform:scale(1.5);
}
.Ba:hover{
	transform:scale(1.2);
}
.Ai:hover{
	transform:scale(1.5);
}
.it:hover{
	transform:scale(1.2);
}
.robo:hover{
	transform:scale(1.2);
}

#courses img{
    width: 200px;
    border-radius: 10px;
    border: 2px solid #000;
    margin: auto;
}

.apply{
    margin-top: 4%;
    background-color: #800080;
    padding: 0.7rem 1rem;
    color: #fff;
    border: none;
    border-radius: 10px;
}

footer{
    background-color:  #800080;
    color: #fff;
    text-align: center;
    padding: 1.2rem;
    margin-top: 4%;
}